@import "tailwindcss";

@theme inline {
  --font-bubblegum: var(--font-bubblegum);
  --font-baloo: var(--font-baloo);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-bubblegum);
  /* font-family: var(--font-baloo); */
}
h1 {
  font-family: var(--font-baloo);
}
