@import "tailwindcss";


@theme {
  --font-bubblegum: var(--font-bubblegum);
  --font-baloo: var(--font-baloo);
  --breakpoint-3xl: 1920px;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-bubblegum);
  /* font-family: var(--font-baloo); */
}
h1 {
  font-family: var(--font-baloo);
}

@layer {
  .h1-adaptive-text {
    @apply text-[2rem] sm:text-[3rem] 2xl:text-[4rem];
  }
  .p-adaptive-text {
    @apply text-[1rem] sm:text-[1.5rem] 3xl:!text-[2rem];
  }
  .container-padding {
    @apply px-8 lg:px-16 xl:px-32 2xl:px-40 3xl:!px-60;
  }
}
